.quadrant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 412px;
    height: 660px;
    margin: 0;
    padding: 0;
    color: #E0E0E0;
    font-size: 48px;
    overflow: hidden;

    scroll-snap-align: start;
}

#letter-quad {
    background-color: #8899AA;
}

#color-quad {
    background-color: #778899;
}

#food-quad {
    background-color: #990000;
}

#thing-quad {
    background-color: #8899AA;
}
#emoji {
    font-size: 95px;
}